
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<div class="header1">
    <h1>Welcome to my <%= title %> page</h1>
  </div>

       <div class="aboutPage">
        <p>
            Hi, <br>I am Md Ripon Hossain. <p> Currently I have enrolled in Software Engineering Technology program.Earlier I had completed my Bachelor of Science (BS) in Chemisty and worked in a pharmacetical company as a Quality Assurance specialist for around 6 years.
                While working in pharmacetical, I had to handle different sophistiacted equipments and need to analyze 
                the data using different software tools resulting sparked me to learn more about software technology.
                That's why I have enrolled in Software Engineering program to enrich my knowledge.
                </p>
                <p>I want to develop my career in software programming fields where I can utilize my earlier skills</P>
                <p>One of my favorite quotes:
                <blockquote>
                <i>"Trust yourself that you can do it and get it"</i>
                  -<strong>by Baz Luhrmann</strong>
                  </blockquote>
                  </p> &#128522;</p>

                  <p>Please view my resume </p><a href="https://drive.google.com/file/d/1dtSdV6318tCs4cjgmIrBiNb9FUkN1YjP/view?usp=drive_link">
                    <button type="button">Click here</button>
                     </a>
             
       </div>
       <hr>
             <%- include partials/bottom_nav.ejs %>  

             <%- include partials/footer.ejs %>
