
<!-- header -->

<%- include partials/header.ejs %>

<!-- Main Navigation -->
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content of home-->
  
  <div class="header1">
    <h1>Welcome to <%= title %> page</h1>
  </div>
  <div class="homePage">
  <a href="my-pic.jpg" target="_blank"><img id="profilePic" src="/Assets/images/my-pic.jpg" alt="My Photo"></a>
 
  <p>
  
   Welcome to my MR IT solutions portfolio! Inovation is my inspiration. 
   Software technology is the backbone of modern digital society, powering everything from smartphones and computers to smart appliances and industrial machinery.
   The field of software technology is constantly evolving, with new programming languages, 
   frameworks, and tools emerging regularly to meet the demands of the ever-changing technological landscape.
  </p>

  <h2>"To drive digital transformation through software excellence."</h2>

  <a href="/about"> Go here to </a>
  <p>Please see my details </p><a href="/about">
    <button type="button">>>>.....</button>
     </a>


</div>
 


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




