
<!-- Project page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



   <div class="header1">
    <h1>Welcome to <%= title %> page</h1>
  </div>
  <div id="project">
 
    <h3>My projects:</h3>
    <ol>
        <li> Bug Smasher game project</li>
        <a href="bugSmasher.jpg" target="_blank"><img src="/Assets/images/bugSmasher.jpg" alt="BugS masher" height="300" width="550"></a>
        <li> <a href="http://studentweb.cencol.ca/mhoss206/assignment-3/assignment3_ripon.html">Asus product advertisement website (click here for more details)</a></li>
        <a href="add.jpg" target="_blank"><img src="/Assets/images/add.jpg" alt="Asus Add" height="350" width="550"></a>
        <li> Church website development project</li>
        <a href="church.jpg" target="_blank"><img src="/Assets/images/church.jpg" alt="Church" height="350" width="550"></a>
        <li>  <a href="http://studentweb.cencol.ca/mhoss206/assignment-4/assignment4.html"> My form preparation project (click here) </a></li>
        <li> <a href="http://studentweb.cencol.ca/mhoss206/assignment-2/assignment2.html">Websites About Protected Areas in Canada(click here)</a></li>
       </ol>

</div>
      <hr>
          <%- include partials/bottom_nav.ejs %>  

          <%- include partials/footer.ejs %>