<!-- Service page -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<div class="header1">
  <h1>Welcome to <%= title %> page</h1>
 
  </div>

<div id="service">
  <h3>My Services:</h3>

    <ul>
    <li>Website development.</li>
    <li>Troubleshooting and resolving IT issues. </li>
    <li>Providing technical assistance to employees.</li>
    <li>Updating and maintaining company systems and networks.</li>
    <li>Installing and configuring software.</li>
    <li>Software application development.</li>
    </ul>
  
</div>
    <hr>
          <%- include partials/bottom_nav.ejs %>  

          <%- include partials/footer.ejs %>
            